.bike-info {
    margin: 20px;
    display: flex;
}

.bike-info img {

    width: 700px;
}

.span1 {
    color: blueviolet;
    font-size: 2em;
}
.bike-detail button {
    padding: 10px;
    font: bold;
    font-size: 1.5em;
    color: antiquewhite;
    background-color: rgb(111, 8, 16);
    border-radius: 4px;
}

.all-review-button{
    margin-top: 300px;
    text-decoration: none;
    color: antiquewhite;
    font: bold;
    font-size: 1em;
    padding:15px ;
    background-color: blue;
    border-radius: 5px;
}

.all-review-button :hover {
    background-color: azure;
    color: blue;
}